# java
*.class
*.jar
*.war
*.ear

# linux 
*~

# eclipse
*.settings
*.project
*.classpath
*.cache

# git
*/.gitignore

# gradle
/.gradle
/build
/bin

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml

hs_err_pid*
